.cardsList {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  white-space: nowrap;

  @media (min-width: 800px) {
    flex-wrap: wrap;
    // justify-content: center;
    gap: 10px;
    padding-bottom: 60px;
  }
}
